<h1>Home#index</h1>
<ul>
<li><%= link_to "Ingredients", "/ingredients" %></li>
<li><%= link_to "Dishes", "/dishes" %></li>
<li><%= link_to "Tables", "/tables" %></li>
<li><%= link_to "Recipes", "/recipes" %></li>
</ul>


