<h1><%= @table.number %></h1>

<ul>
  <li><%= link_to "Edit", edit_table_path(@table) %></li>
  <li><%= link_to "Destroy", table_path(@table), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>